* {
    box-sizing: border-box;
}

body {
    background: #29bde7;
    color: #405e74;
    line-height: 1.6;
    font-family: 'Segoa UI', 'Tahoma', 'Geneva', 'Verana', sans-serif;
    padding: 1em;
}

ul {
    list-style: none;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

.brand {
    text-align: center;
}

.brand span {
    color: #fff;
}

.wrapper {
    box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.5, 0.7);
}
